* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
background-color:#D1D5DB;



   color: #E5E7EB;

}

/* Header */
.header {
  padding: 20px;
  text-align: center;
  background-color:#0F172A;

  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   margin-bottom: 10px;
}

.header h1 {
  margin-bottom: 10px;
}

.header input {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
 
}

/* Genre buttons */
.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
  
}

.genre-btn {
  padding: 10px 20px;
  border: none;
  background-color:#1C1917;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  
}

.genre-btn:hover {
  background-color: #cfcfcf;
}

.genre-btn.active {
  background-color: #4a90e2;
  color: white;
}

/* Story cards */
.story-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.story-card{
 background-color: #0B0B0B;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
