/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  
}

/* PAGE BACKGROUND */
body {
  background-color: #e5e7eb;   /* light page background */
  color: #111827;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body is at least as tall as the screen */
    margin: 0; /* Removes default browser spacing */
}

/* ================= HEADER / NAVBAR ================= */
.header {
  padding: 20px;
  text-align: center;
background-color: #0b0b0b;
  color: #8AA7AD;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  margin-bottom: 20px;
}

.header h1 {
  margin-bottom: 12px;
  font-size: 2.4rem;
}

.header input {
  width: 80%;
  max-width: 420px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* ================= GENRE BUTTONS ================= */
.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.genre-btn {
  padding: 10px 22px;
  border: none;
  background-color: #1c1917;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  transition: all 0.2s ease;
}

.genre-btn:hover {
  background-color: #374151;
}

.genre-btn.active {
  background-color: #2563eb;
}

/* ================= STORY GRID ================= */
.story-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  padding: 0 30px 40px;
}

/* STORY CARD */
.story-card {
  background-color: #0b0b0b;
  padding: 18px;
  border-radius: 12px;
  color: #f9fafb;
  box-shadow: 0 0 20px 5px rgba(0, 212, 255, 0.7);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.story-genre{
  color:#38BDF8;
}
.story-desc{
  color:#8AA7AD
}
.story-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}
.mainfooter{

  
background-color: #000000; 
    padding: 40px 20px;
    margin-top: auto; 
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
}
    
    
.footer-content p {
    font-size: 0.9rem;
    color: #829799; /* Uses that blue-grey color you liked for the text */
    
}
#loading-screen {
  position: fixed;
  inset: 0;
  background:black;   /* dark background */
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Segoe UI", Arial, sans-serif;
  z-index: 9999;
}
.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #334155;
  border-top: 4px solid #38bdf8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

